* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $text_color;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $text_color;
}

ul {
    display: flex;
    list-style-type: none;
}

.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
