header {
    height: 98px;
    background: $header_bc_col;
    border-bottom: 1px solid rgba(151,151,151,0.5);
    padding: 24px 24px 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
        margin: 0 10px;
    }

}

.header-top {
    img {
        vertical-align: bottom;
    }
    span {
        color: $header_link_col;
        font-size: 20px;
        font-weight: bold;
    }
}

.nav-bar {
    display: flex;

    ul {
        width: 90%;

        & li:last-child {
            border-bottom: 3px solid #3367d6;

            & a {
                color: #3367d6;
            }
        }

    }

    a {
        float: right;
        font-size: 14px;
        font-weight: bold;
        padding: 0 0 6px 0;
        color: $header_link_col;
    }
}
